name: Deploy the Image Application To EC2 AWS

on:
    workflow_dispatch:

env: 
    IMAGE_NAME: ${{secrets.DOCKERHUB_USERNAME}}/${{ github.event.repository.name }}

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the Code
              uses: actions/checkout@v4
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{secrets.DOCKERHUB_USERNAME}}
                password: ${{secrets.DOCKERHUB_TOKEN}}
            - name: Build the Docker Image
              run: docker build -t cicd-pipeline .
            - name: Build Image and Push
              run: docker push $IMAGE_NAME:latest