name: CI/CD Pipeline EC2 Instance

on:
    workflow_dispatch:

env: 
    IMAGE_NAME: ${{secrets.DOCKERHUB_USERNAME}}/${{ github.event.repository.name }}

jobs:
    build-push-image:
        runs-on: self-hosted

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{secrets.DOCKERHUB_USERNAME}}
                password: ${{secrets.DOCKERHUB_TOKEN}}
            - name: Build and push the image
              uses: docker/build-push-action@v5
              with:
                    context: .
                    push: true
                    tags: |
                        ${{ env.IMAGE_NAME }}:latest
                        ${{ env.IMAGE_NAME }}:${{ github.sha }}

    deploy:
        runs-on: self-hosted
        needs: build-push-image
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            - name: Deploy to EC2
              run: |
                docker compose pull
                docker compose up -d

        